<% if User.find_by({ "id" => session["user_id"] }) != nil %>

<h1><%= @place["name"] %></h1>

 <p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Entry</a>
</p>

<h2>My Entries</h2>
<div class="row">
  <% @entries.each do |entry| %>
    <div class="col-sm-6 col-md-3 col-lg-2 mb-4">
      <h4><%= entry["title"] %></h4>
      <p><%= entry["occurred_on"] %></p>
      <p><%= entry["description"] %></p>
      <% if entry.uploaded_image.attached? %>
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= entry["image"] %>" class="img-fluid">
      <% end %>
    </div>
  <% end %>
</div>


<p>
  <a href="/places">Back to All Places</a>
</p>

<% User.find_by({ "id" => session["user_id"] }) != nil %>
  <p><a href="/places/<%= @place["id"] %>/edit">Edit Place</a></p>

  <form action="/places/<%= @place["id"] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete Place</button>
  </form>

<% else %>
  <p>
    You must be <a href="/login">logged in</a> to view your entries.
  </p>
<% end %>